.container {
  border: 1px solid #000;
  padding: 5px;
  position: relative;
}

.nav-top {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  z-index: 1;
}
.nav-top a {
  color: white;
}

.legend {
  position: absolute;
  background-color: gray;
  border: red solid 1px;
}
.sub {
  position: relative;
  bottom: 0;
}
.nav-bottom {
  background-color: green;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}
